<div class = maincontainer>
  <h3> places to go, people to see.</h3>

  <form ng-submit="submit(petObject)">
    <div class="inputSpace">
      <label for="petAge">Destination:</label>
      <input ng-model="petObject.name" type="text" placeholder=" where to?"/>
      <br />
    </div>

    <div class="inputSpace">
      <label for="petType">Mode of transportation:</label>
      <input ng-model="petObject.type" type="text" placeholder=" fly  |  drive  |  swim"/>
      <br />
    </div>

    <div class="inputSpace">
    <label for="petAge">How long?</label>
    <input ng-model="petObject.age" type="text" placeholder=" 48 hrs  |  forever  |  a week" />
    <br />
    </div>

    <div class="inputSpace">
    <label for="petImage">Preview</label>
    <input ng-model="petObject.image" type="text" placeholder=" pretty pictures only" />
    <br />
  </div>
  <div class="inputSpace">
    <input type="submit"/>
  </div>
  </form>
</div>
